body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background: black;
    color: white;
}
header {
    background: #e31c2d;
    padding: 11px;
    color: white;
    text-align:center;
}
h1{
    margin: 10px 0px;
    font-family: 'Press Start 2P', cursive;
}
img{
    width:100%;
}
.largekitten{
    display:none;
}
.gameslist {
    list-style: none;
    border-bottom: 1px solid white;
    padding: 10px;
}
ul.game-List {
    padding-left: 0px;
    margin-top: 50px;
}
footer {
    float: right;
    background: #e31c2d;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 0px;
    color: white;
    margin-top: 50px;
}
@media only screen and (min-width: 480px) {
    .smallkitten{
        display: none;
    }
    .largekitten {
        display: block;
        height: 80vh;
        object-fit: cover;
        object-position: top;
    }
}
@media only screen and (min-width: 800px) {
    .gameslist {
        border-bottom: none;
        border-right: 1px solid white;
        float: left;
        font-size: 15px;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 900px)  {
    h1{
        font-size: 4rem;
    }
}
@media only screen and (min-width: 1200px) {
    h1{
        font-size: 6rem;
    }
    ul.game-List {
        margin-top: 100px;
    }
    footer{
        margin-top:100px;
    }
}